<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="contenedor-padre" class="ion-padding">
    <h2 size="large" id="titulo">cambiar contraseña</h2>
    
    <form [formGroup]="form" >

      <ion-input formControlName="cedula" value="1193592038"></ion-input>

      <ion-item>

        <ion-label position="floating">Nueva contraseña:</ion-label>
        <ion-input type="text" formControlName="contra1"></ion-input>

      </ion-item>

      <ion-item>

        <ion-label position="floating">Confirma tu contraseña:</ion-label>
        <ion-input type="text" formControlName="contra2"></ion-input>

      </ion-item>
      

      <ion-button type="submit" class="ion-padding" expand="full" [disabled]="form.invalid">Actualizar</ion-button>
    </form>
<!-- 
  <form [formGroup]="form" >

        <div id="contenedor-hijo">

      <ion-input formControlName="cedula" value="1193592038"></ion-input>

          <div class="input">
            <label class="lab">Nueva contraseña:</label>
            <input type="text" class="inputs" formControlName="contra1" name="contra1" >
          </div>

          <div class="input">
            <label class="lab">Confirma tu contraseña:</label>
            <input type="text" formControlName="contra2" class="inputs" name="contra2" >
          </div>

        </div>
      
      <div id="botones">
      <ion-button type="submit" id="boton" [disabled]="form.invalid" [routerLink]="['/editar-usuario']">Guardar cambios</ion-button>
      </div> 
      
  </form>

-->


</ion-content>