<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-container">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="nombreinterfas">contactanos</ion-title>
    <ion-icon slot="end" class="iconoedit" name="person-circle-sharp" [routerLink]="
    ['/editar_usuario']
    "></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="titulos">MÁS SOBRE NOSOTROS</ion-title>
  <br>
  <br>
  <br>

  
    <ion-item>
      <p>TÉLEFONO:</p>
    </ion-item>
      <ion-item>
        <P>3214567890</P>
      </ion-item>
      

    <ion-item>
      <p>DIRECCIÓN:</p>
      
    </ion-item>
    

      <ion-item>
        <p>CARRERA 4D #7-29</p>
      </ion-item>

      
    <ion-item>
      <p>CIUDAD:</p>
    </ion-item>

  
    <ion-item>
      <p>CERRITO</p>
    </ion-item>

    
      <ion-item><p>CORREO:</p>
      </ion-item>

    
    <ion-item>
      <p>correoejemplicorreo.com</p>
    </ion-item>
 
</ion-content>
